md-progress-linear(ng-if='vm.savingChapter')
md-content(layout-padding, ng-class='{disableWhileLoading: vm.savingChapter}').chapters-form
    form(layout='column', ng-cloak='', name='addChapterForm', ng-submit='(addChapterForm.$valid && vm.organizers.length > 0) && vm.saveChapter()', novalidate)
        md-input-container
            label(translate='CHAPTERS.FORM.SECTION')
            md-select(ng-model='vm.chapter.section', ng-disabled="!vm.isAdmin" name="section" required)
                md-option(ng-value='"gdg"' translate='SECTIONS.GDG')
                md-option(ng-value='"gbg"' translate='SECTIONS.GBG')
                md-option(ng-value='"geg"' translate='SECTIONS.GEG')
                md-option(ng-value='"gxg"' translate='SECTIONS.GXG')
            div(ng-messages="addChapterForm.section.$error")
                div(ng-message="required" translate="CHAPTERS.FORM.SECTION_REQUIRED")

        md-input-container()
            label(translate='CHAPTERS.FORM.NAME')
            input(ng-model='vm.chapter.name', id='name', name='name', ng-disabled="!vm.isAdmin" required)
            div(ng-messages="addChapterForm.name.$error")
                div(ng-message="required" translate="CHAPTERS.FORM.NAME_REQUIRED")

        // TODO - better orgs validation
        div(class='organizers-container')
            md-contact-chips(ng-model='vm.organizers', ng-if="vm.isAdmin", ng-change='vm.updateOrgsIDS()', md-on-remove='vm.updateOrgsIDS()', md-contacts='vm.delayedQuerySearch($query)', md-contact-name='name', md-contact-image='image', md-contact-email='email', md-require-match='true', md-highlight-flags='i', filter-selected='vm.filterSelected', placeholder='{{"CHAPTERS.FORM.ORGANIZERS" | translate}}', ng-class='{"chips-error": vm.organizers.length < 1}')
                md-chips(readonly='true', ng-model='vm.organizers', ng-if="!vm.isAdmin")
                    md-chip-template
                        a {{$chip.name}}
            p(class='error' ng-show='vm.organizers.length < 1' translate='CHAPTERS.FORM.AT_LEAST_ONE_ORG_REQUIRED')

        md-input-container()
            label(translate='COMMON.EMAIL')
            // TODO - better regex for email
            input(ng-model='vm.chapter.email', ng-disabled="!vm.isAdmin" name="email" type="email" required ng-pattern="/^.+@.+\..+$/")
            div(ng-messages='addChapterForm.email.$error' role='alert')
                div(ng-message='pattern' translate='CHAPTERS.FORM.EMAIL_PATTERN')
                div(ng-message='required' translate='CHAPTERS.FORM.EMAIL_REQUIRED')
        picture-upload(picture-string='vm.chapter.cover', note='{{"CHAPTERS.FORM.BACKGROUND_PICTURE" | translate}}')

        md-input-container
            label(translate='CHAPTERS.FORM.DESCRIPTION')
            textarea(ng-model='vm.chapter.description', md-maxlength='500', rows='5', md-select-on-focus='')

        links(links='vm.chapter.links', context='{{"CHAPTERS.FORM.CHAPTER" | translate}}')

        md-button(class='md-fab md-fab-bottom-right md-primary', type='submit')
            md-icon(md-font-icon='material-icons step') done

        pre {{ vm.chapter | json }}
        pre {{ vm.organizers | json }}
        pre {{ addChapterForm | json }}
