md-content(layout-padding)
  form(layout='column', ng-cloak='', name='addChapterForm', ng-submit='addChapterForm.$valid && vm.form()', novalidate)
    md-input-container
      label Sekce
      md-select(ng-model='vm.chapter.section', ng-disabled="vm.isAdmin")
        md-option(ng-value='"GDG"') GDG
        md-option(ng-value='"GBG"') GBG
        md-option(ng-value='"GEG"') GEG
        md-option(ng-value='"GXG"') GXG
    md-input-container()
      label Jméno
      input(ng-model='vm.chapter.name', id='name', name='name', ng-disabled="vm.isAdmin")

    // TODO - Add orgs validation
    md-contact-chips(ng-model='vm.organizers', md-contacts='vm.delayedQuerySearch($query)', md-contact-name='name', md-contact-image='image', md-contact-email='email', md-require-match='true', md-highlight-flags='i', filter-selected='vm.filterSelected', placeholder='Organizátoři', readonly="vm.isAdmin")

        // TODO - Add field for position (selecting on map)
        // TODO - Upload picture

    md-input-container()
      label Email
      input(ng-model='vm.chapter.email', ng-disabled="vm.isAdmin")



    md-input-container
      label Popis
      textarea(ng-model='vm.chapter.description', md-maxlength='500', rows='5', md-select-on-focus='')



    links(links='vm.chapter.links')



    md-button(class='md-fab md-fab-bottom-right md-primary', type='submit')
      md-icon(md-font-icon='material-icons step') done


