md-content.chapters
    section
        div.filters-container
            md-subheader.filter-subheader {{'CHAPTERS.FILTERS' | translate}}

            md-input-container(class='md-block filter-name')
                label(class='filter-name-label') {{'CHAPTERS.CHAPTER_NAME' | translate}}
                input(ng-model='vm.searchedName' ng-change='vm.inputChanged()')

            div.chips-container
                md-chips(ng-model='vm.selectedSections', md-autocomplete-snap='' md-on-select='vm.chipSelected(item)', md-on-remove='vm.chipSelected(item)').sections-chips
                    md-autocomplete(md-selected-item='vm.selectedSection', md-selected-item-change='vm.chipSelected(item)', md-search-text='vm.searchText', md-items='item in vm.querySectionSearch(vm.searchText)', md-item-text='item', placeholder='{{"CHAPTERS.SECTION_PLACEHOLDER" | translate}}')
                        span(md-highlight-text='vm.searchText') {{item}}
                    md-chip-template
                        span {{$chip}}

        md-subheader {{"CHAPTERS.SAVED_CHAPTERS" | translate }}
        md-list
            md-list-item(ng-repeat="chapter in vm.chapters", ng-click="vm.showChapterDialog(chapter)")
                // TODO img(ng-src="{{}}", class="md-avatar") Chapter logo
                p {{chapter.name}}
                md-icon(md-svg-src='mdi:web', aria-label='View on web' ng-click='vm.viewOnWeb(chapter)').md-secondary
                md-icon(md-svg-src='mdi:delete', aria-label='Delete chapter' ng-click='vm.deleteChapter(chapter)').md-secondary
            // TODO Better solution for button space at end of the list?
            md-list-item
md-button(class="md-fab md-primary md-fab-bottom-right fixed", aria-label='Use Android', ng-click='vm.addChapter()')
    md-icon add
