div(layout='row')
  div(flex='30')
  div(layout-padding, flex='40', layout='column', flex-xs="100")
    h1(translate="").md-display-1 LOGIN_PAGE.TITLE

    p.md-subhead(translate='LOGIN_PAGE.SIGN_IN_VIA_SLACK')

    md-button(auth-login-link,translate="BUTTONS.SIGN_IN", aria-label="Sign In").md-primary.md-raised
  div(flex='30')
