md-list
  md-list-item(ng-repeat='(index, link) in vm.links')
    md-input-container(flex, ng-switch='link.type')
      label {{"COMMON.LINK_COMPONENT.SOCIAL_LINK_START" | translate }} {{vm.context}} {{"COMMON.LINK_COMPONENT.SOCIAL_LINK_END" | translate }}

      md-icon(ng-switch-when='facebook', md-svg-icon='mdi:facebook-box')
      md-icon(ng-switch-when='google-plus', md-svg-icon='mdi:google-plus-box')
      md-icon(ng-switch-when='youtube', md-svg-icon='mdi:youtube-play')
      md-icon(ng-switch-default, md-svg-icon='mdi:link-variant')

      input(ng-model='link.url', ng-change='vm.onLinkUpdate(index)')
    md-icon(ng-click='vm.removeLink($index)', aria-label='Remove link').md-secondary close
