md-list
  md-list-item(ng-repeat='(index, link) in vm.links', class="link-item")
    md-input-container(flex='80', class="link-container")
      label {{"COMMON.LINK_COMPONENT.SOCIAL_LINK_START" | translate }} {{vm.context}} {{"COMMON.LINK_COMPONENT.SOCIAL_LINK_END" | translate }}
      input(ng-model='link.url', ng-change='vm.onLinkUpdate(index)')

    md-input-container(flex='20')
      md-select(ng-model='link.type')
        md-option(ng-value='"facebook"' translate='COMMON.LINK_COMPONENT.FACEBOOK')
        md-option(ng-value='"google-plus"' translate='COMMON.LINK_COMPONENT.GOOGLE_PLUS')
        md-option(ng-value='"meetup"' translate='COMMON.LINK_COMPONENT.MEETUP')
        md-option(ng-value='"srazy"' translate='COMMON.LINK_COMPONENT.SRAZY')
        md-option(ng-value='"twitter"' translate='COMMON.LINK_COMPONENT.TWITTER')
        md-option(ng-value='"instagram"' translate='COMMON.LINK_COMPONENT.INSTAGRAM')
        md-option(ng-value='"web"' translate='COMMON.LINK_COMPONENT.WEB')
        md-option(ng-value='"youtube"' translate='COMMON.LINK_COMPONENT.YOUTUBE')
        md-option(ng-value='"google-directory"' translate='COMMON.LINK_COMPONENT.BLOG')
        md-option(ng-value='"blog"' translate='COMMON.LINK_COMPONENT.BLOG')
        md-option(ng-value='"other"' translate='COMMON.LINK_COMPONENT.OTHER')

    md-icon(ng-click='vm.removeLink($index)', aria-label='Remove link').md-secondary close
