md-progress-linear(ng-if='vm.savingEvent')
md-content(layout-padding, , ng-class='{disableWhileLoading: vm.savingEvent}')
    form(name='reportForm', ng-submit='reportForm.$valid && vm.saveReport()', novalidate, layout='column')

        h2.md-headline Akce: {{vm.eventNameObject.$value}}

        md-input-container
            label Text (můžeš zmínit jaká byla motivace uspářadat akci, zda se akce povedla atd.)
            textarea(rows='5', ng-model='vm.report.text')


        md-input-container
            label {{ 'DASHBOARD.REPORT.ATTENDEES_COUNT' | translate }}
            input(type='number', ng-model='vm.report.attendeesCount', required)


        md-input-container
            label Co se povedlo?
            textarea(rows='5', ng-model='vm.report.positives')


        md-input-container
            label Co by se dalo zlepšit?
            textarea(rows='5', ng-model='vm.report.negatives')

        md-input-container
            label Odkaz na fotky
            input(type='url', ng-model='vm.report.photoUrl')

        md-input-container
            label Odkaz na feedback
            input(type='url', ng-model='vm.report.feedbackUrl')



        div(layout='row', layout-align='end')
            md-button.md-raised.md-primary(translate="BUTTONS.SAVE", type='submit', aria-label='Save venue')
