{
  "extends": "angular",
  "rules": {
    "indent": [
      "error",
      2,
      {
        "SwitchCase": 1
      }
    ],
    "quotes": [
      "warn",
      "single"
    ],
    "linebreak-style": [
      "error",
      "unix"
    ],
    "semi": [
      "warn",
      "always"
    ],
    "angular/controller-as-vm": "off",
    "angular/no-service-method": "off",
    "angular/on-watch": "off"
  },
  "env": {
    "browser": true,
    "es6": true
  }
}
