md-contact-chips(ng-model='vm.organizers', md-contacts='vm.delayedQuerySearch($query)', md-contact-name='name', md-contact-image='image', md-contact-email='email', md-require-match='true', md-highlight-flags='i', filter-selected='vm.filterSelected', placeholder='', md-on-add="vm.updateOrgsIDS()" md-on-remove="vm.updateOrgsIDs()")
