md-content(layout-padding)
  form(name='venueForm', ng-submit="vm.submit(venueForm)", novalidate, layout="column")
    md-input-container
      label(translate='VENUE.FORM.NAME')
      input(required, ng-model='vm.venue.name')

    md-input-container
      label(translate='VENUE.FORM.ADDRESS')
      input(required, ng-model='vm.venue.address')

    md-input-container
      label(translate='VENUE.FORM.MAP_LINK')
      input(type="url", ng-model='vm.venue.mapLink')

    md-input-container
      label(translate='VENUE.FORM.NOTE')
      textarea(ng-model='vm.venue.note', rows=4)

  div(layout='row')
    span(flex='')
    md-button.md-raised(translate="BUTTONS.CANCEL",ng-click="vm.cancel()")
    md-button.md-raised.md-primary(type="submit", translate="BUTTONS.SAVE")

