form(name='venueForm', ng-submit="vm.submit(venueForm)", novalidate)
  md-toolbar
    .md-toolbar-tools
      h2(translate="VENUE.TITLE")
      span(flex='')
      md-button.md-icon-button(ng-click='vm.cancel()')
        md-icon(md-svg-icon='mdi:close', aria-label='Close dialog')

  md-dialog-content(layout-padding)
    .md-dialog-content.venue-form-content
      span {{vm.nameDetails}}
      i {{'VENUE.FORM.HOW_TO_FILL' | translate}}
      p
      div(layout="row")
        md-input-container(flex=50)
          label(translate='VENUE.FORM.NAME')
          input(required id="venue-input" type="text" placeholder="Zadejte název venue" ng-model='vm.venue.name' ng-change='vm.test')

        md-input-container(flex=50)
          label(translate='VENUE.FORM.CITY')
          input(required id="city-input" type="text" placeholder="Zadejte město" ng-model='vm.venue.city')

      div(layout="column")

        div(layout='row')
          md-input-container(flex=50)
            label(translate='VENUE.FORM.ADDRESS')
            input(required id="address-input" type="text" placeholder="Zadejte adresu" ng-model='vm.venue.address')

          md-input-container(flex=50)
            label(translate='VENUE.FORM.MAP_LINK')
            input(required id="url-input" type="url", ng-model='vm.venue.mapUrl')

        div(layout='row')
          md-input-container(flex=50)
            label {{ 'VENUE.FORM.COORDINATES' | translate}} - Lat
            input(required, ng-model='vm.venue.coordinates.lat')
          md-input-container(flex=50)
            label {{ 'VENUE.FORM.COORDINATES' | translate}} - Lng
            input(required, ng-model='vm.venue.coordinates.lng')



        md-input-container
          label(translate='VENUE.FORM.NOTE')
          textarea(id='how-to-input' ng-model='vm.venue.howTo', rows=4)

  md-dialog-actions(layout='row')
    span(flex='')
    md-button.md-raised(translate="BUTTONS.CANCEL", ng-click="vm.cancel()", aria-label='Cancel')
    md-button.md-raised.md-primary(type="button", translate="BUTTONS.SAVE", ng-click="vm.submit(venueForm)", aria-label='Save venue')

