md-content(class="organizers" layout='column')
    section
        div.filters-container
            md-subheader.filter-subheader {{'ORGANIZERS.FILTERS' | translate}}

            md-input-container(class='md-block filter-name')
                label(class='filter-name-label') {{'ORGANIZERS.ORGANIZER_NAME' | translate}}
                input(ng-model='vm.searchedName' ng-change='vm.inputChanged()')

            div.chips-container
                md-chips(ng-model='vm.selectedSections', md-autocomplete-snap='' md-on-select='vm.chipSelected(item)', md-on-remove='vm.chipSelected(item)').sections-chips
                    md-autocomplete(md-selected-item='vm.selectedSection', md-selected-item-change='vm.chipSelected(item)', md-search-text='vm.searchText', md-items='item in vm.querySectionSearch(vm.searchText)', md-item-text='item', placeholder='{{"CHAPTERS.SECTION_PLACEHOLDER" | translate}}')
                        span(md-highlight-text='vm.searchText') {{item}}
                    md-chip-template
                        span {{$chip}}

        md-subheader {{"ORGANIZERS.SAVED_ORGANIZERS" | translate }}
        md-list
            // TODO is correct filter? What about use of ng-change?
            md-list-item(ng-repeat="org in vm.organizers | filter: {name: vm.textForFilter}", ng-click='vm.editOrganizer(org)')
                img(ng-src="{{org.profilePicture ? org.profilePicture : '/images/non_profilepic.png'}}", class="md-avatar")
                p {{org.name}}
                //md-icon(md-svg-src='mdi:web', aria-label='View on web' ng-click='vm.viewOnWeb(org)').md-secondary
                //md-icon(md-svg-src='mdi:pencil', aria-label='Edit organizer' ng-click='vm.editOrganizer(org)').md-secondary
                md-icon(md-svg-src='mdi:delete', aria-label='Delete organizer' ng-click='vm.deleteOrganizer(org)').md-secondary
            // TODO Better solution for button space at end of the list?
            md-list-item
            md-list-item
md-button(class="md-fab md-primary md-fab-bottom-right fixed", aria-label='Use Android', ng-click='vm.addOrganizer()')
    md-icon add
