md-progress-linear(ng-if='vm.savingOrganizer')
md-content(layout-padding, class='organizers-form-content', ng-class='{disableWhileLoading: vm.savingOrganizer}')
  form(layout='column', ng-cloak='', name='organizerForm', ng-submit='organizerForm.$valid && vm.saveOrganizer()', novalidate)

    md-input-container()
      label(translate='ORGANIZERS.FORM.NAME')
      input(ng-model='vm.organizer.name', id='name', name='name' required)
      div(ng-messages='organizerForm.name.$error')
        div(ng-message='required' translate='ORGANIZERS.FORM.NAME_REQUIRED')

    md-input-container()
      label(translate='COMMON.EMAIL')
      input(ng-model='vm.organizer.email' name='email' required ng-pattern="/^.+@.+\..+$/")
      div(ng-messages='organizerForm.email.$error')
        div(ng-message='pattern' translate='ORGANIZERS.FORM.EMAIL_PATTERN')
        div(ng-message='required' translate='ORGANIZERS.FORM.EMAIL_REQUIRED')

    picture-upload(picture-string='vm.organizer.profilePicture', note='{{"ORGANIZERS.FORM.PICTURE" | translate}}')

    md-input-container()
      label(translate='COMMON.PHONE_NUMBER')
      input(ng-model='vm.organizer.phoneNumber')

    md-input-container
      label(translate='ORGANIZERS.FORM.ABOUT_ME')
      textarea(ng-model='vm.organizer.about', md-maxlength='500', rows='5', md-select-on-focus='')

    links(links='vm.organizer.links', context='{{"ORGANIZERS.FORM.PROFILE" | translate}}')

    md-button(class='md-fab md-fab-bottom-right md-primary', type='submit')
      md-icon(md-font-icon='material-icons step') done
