md-content(layout-padding)
  form(layout='column', ng-cloak='', name='OrganizerForm', ng-submit='OrganizerForm.$valid && vm.saveOrganizer()', novalidate)


    md-input-container()
      label(translate='ORGANIZERS.FORM.NAME')
      input(ng-model='vm.organizer.name', id='name', name='name')

    md-input-container()
      label(translate='COMMON.EMAIL')
      input(ng-model='vm.organizer.email')
    md-input-container
      label Profilový obrázek
      input(type='file', name='cover', image-with-preview='', ng-model='vm.organizer.profilePicture', accept='image/jpeg,image/png', dimensions='')


    md-input-container()
      label(translate='COMMON.PHONE_NUMBER')
      input(ng-model='vm.organizer.phoneNumber')

    md-input-container
      label(translate='ORGANIZERS.FORM.ABOUT_ME')
      textarea(ng-model='vm.organizer.about', md-maxlength='500', rows='5', md-select-on-focus='')

    links(links='vm.organizer.links', context='{{"ORGANIZERS.FORM.PROFILE" | translate}}')



    md-button(class='md-fab md-fab-bottom-right md-primary', type='submit')
      md-icon(md-font-icon='material-icons step') done


