md-toolbar(layout='row').md-whiteframe-10dp
  .md-toolbar-tools
    md-button.md-icon-button.hide-gt-sm(ng-click="app.toggleSidenav()")
      md-icon(aria-label='Menu') menu
    h1 {{app.state.current.data.title}}
    span(flex='')

    md-button {{app.fbUser.name}}
    // TODO reload app when change not work in event form
    md-select.md-no-underline(ng-model='app.selectedChapter', ng-change="app.selectChapter()", aria-label='Select default chapter')
      md-option(ng-repeat="(id, chapter) in app.user.chapters", value='{{id}}') {{chapter.name}}
      md-option(value='admin', ng-if="app.user.roles.admin") Admin
    md-button(auth-logout-link) Log Out

div(layout='row', flex='')
  md-sidenav.md-sidenav-left.md-whiteframe-z2(layout='column', md-component-id='left', md-is-locked-open="$mdMedia('gt-sm')")
    md-list
      md-list-item(ng-repeat='item in app.menu', ui-sref="{{item.link}}", ui-sref-active="active", class='menu-item')
        md-item-content(md-ink-ripple='rgba(0,0,0,0.87)', layout='row', layout-align='start center')
          .inset
            md-icon(md-svg-icon='mdi:{{item.icon}}')
          .inset.menu-item-title {{item.title}}
      //md-list-item(class='menu-item')
        md-item-content(md-ink-ripple='rgba(0,0,0,0.87)', layout='row', layout-align='start center')
          .inset
            md-icon(md-svg-icon='mdi:link')
          .inset.menu-item-title GUG.cz Wisdom

  #content(layout='column', flex).md-whiteframe-z1
    md-content(layout='column', flex='')
      ui-view