md-toolbar(layout='row').md-whiteframe-z2
  .md-toolbar-tools
    md-button.md-icon-button.hide-gt-sm(ng-click="app.toggleSidenav()")
      md-icon(aria-label='Menu') menu
    h1 {{app.state.current.data.title}}
    span(flex='')

    md-button {{app.fbUser.name}}
    md-select.md-no-underline(ng-model='app.selectedChapter', ng-change="app.selectChapter()", aria-label='Select default chapter')
      md-option(ng-repeat="(id, chapter) in app.user.chapters", value='{{id}}') {{chapter.name}}
    md-button(auth-logout-link) Log Out

div(layout='row', flex='').md-whiteframe-z2
  md-sidenav.md-sidenav-left.md-whiteframe-z2(layout='column', md-component-id='left', md-is-locked-open="$mdMedia('gt-sm')")
    md-list
      md-list-item(ng-repeat='item in app.menu')
        md-item-content(ui-sref="{{item.link}}", md-ink-ripple, layout='row', layout-align='start center')
          .inset
            md-icon(md-svg-icon='mdi:{{item.icon}}')
          .inset {{item.title}}

  #content(layout='column', flex)
    md-content.md-padding(layout='column', flex='')
      ui-view
