html(lang='en')
    head
        meta(name='viewport', content='width=device-width, initial-scale=1')
        title Add chapter
        // Angular Material style sheet
        link(rel='stylesheet', href='https://fonts.googleapis.com/icon?family=Material+Icons')
        script(src='https://use.fontawesome.com/d10a25834e.js')
    body(ng-app='AddChapterApp', ng-cloak='')
        md-toolbar.md-whiteframe-3dp
            .md-toolbar-tools
                h3
                    span Add chapter
        .md-inline-form(layout='column', ng-cloak='')
            md-content(layout-padding='')
                h2.md-title Select the section of a chapter and type name:
                div(layout-gt-xs='row', layout-xs='column')
                    md-input-container
                        label Section
                        md-select(ng-model='vm.chapter.section')
                            md-option
                                | GDG
                            md-option
                                | GBG
                            md-option
                                | GEG
                            md-option
                                | GXG
                    md-input-container(flex-gt-xs='')
                        label Name of chapter city, school or some other...
                        input(ng-model='vm.chapter.name')
                div
                    h2.md-title Now, write some text about chapter:
                    md-input-container.md-block
                        label Description
                        textarea(ng-model='vm.chapter.description', md-maxlength='500', rows='5', md-select-on-focus='')
                    h2.md-title Add orgs to the chapter:
                    md-contact-chips(ng-model='vm.chapter.orgs', md-contacts='vm.delayedQuerySearch($query)', md-contact-name='name', md-contact-image='image', md-contact-email='email', md-require-match='true', md-highlight-flags='i', filter-selected='vm.filterSelected', placeholder='Add minimally one...')
                    h2.md-title Please also set a chapter contact info:
                    div(layout='column')
                        div(layout-gt-xs='row', layout-xs='column')
                            md-input-container(flex-gt-xs='')
                                md-icon(class='fa fa-envelope-square fa-2x')
                                label Mail address
                                input(ng-model='vm.chapter.email')
                            md-input-container(flex-gt-xs='')
                                md-icon(class='fa fa-google-plus-square fa-2x')
                                label Google Plus
                                input(ng-model='vm.chapter.googlePlusLink')
                        div(layout-gt-xs='row', layout-xs='column')
                            md-input-container(flex-gt-xs='')
                                md-icon(class='fa fa-facebook-square fa-2x')
                                label Facebook
                                input(ng-model='vm.chapter.facebookLink')
                            md-input-container(flex-gt-xs='')
                                md-icon(class='fa fa-twitter-square fa-2x')
                                label Twitter
                                input(ng-model='vm.chapter.twitterLink')
                        div(layout-gt-xs='row', layout-xs='column')
                            md-input-container(flex-gt-xs='')
                                md-icon(class='fa fa-pencil-square fa-2x')
                                label Meetup ID
                                input(ng-model='vm.chapter.meetupID')
                            md-input-container(flex-gt-xs='')
                                md-icon(class='fa fa-pencil-square fa-2x')
                                label Meetup URL Name
                                input(ng-model='vm.chapter.meetupURL')
            md-button(class='md-fab md-fab-bottom-right md-primary', ng-click='vm.add()')
                md-icon(md-font-icon='material-icons step') done

        // Firebase
        script(src='https://cdn.firebase.com/js/client/2.2.4/firebase.js')
        // AngularFire
        script(src='https://cdn.firebase.com/libs/angularfire/1.2.0/angularfire.min.js')

