md-content(layout-padding)
  form(name='addEventForm', ng-submit='addEventForm.$valid && vm.addEvent()', novalidate, layout="column")
    div(layout="row")
      md-input-container(flex)
        label(translate='EVENTS.FORM.NAME')
        input(ng-model='vm.event.name')

      md-input-container(flex)
        label(translate='EVENTS.FORM.SUBTITLE')
        input(ng-model='vm.event.subtitle')

    div(layout="row")
      md-input-container(flex='50')
        label(translate='EVENTS.FORM.DESCRIPTION')
        textarea(rows='4', ng-model='vm.event.description')

      div(flex='50')
        div(rows='4',marked='vm.event.description')

    dates-picker

    venue-selector

    md-input-container
      label(translate='EVENTS.FORM.REGFORM_LINK')
      input(ng-model='vm.event.regFormLink')

    chapters-picker(selectedChapters='vm.event.chapters')

    orgs-table.md-whiteframe-3dp

    links(links='vm.event.links')

    md-button(class="md-fab md-primary md-fab-bottom-right fixed", aria-label='Use Android', type='submit')
      md-icon done

