md-content(layout-padding)
  form(name='addEventForm', ng-submit='addEventForm.$valid && vm.addEvent()', novalidate, layout="column")
    div(layout="row")
      md-input-container(flex)
        label(translate='EVENTS.FORM.NAME')
        input(ng-model='vm.event.name', required)

      md-input-container(flex)
        label(translate='EVENTS.FORM.SUBTITLE')
        input(ng-model='vm.event.subtitle')

    div(layout="row")
      md-input-container(flex='50')
        label(translate='EVENTS.FORM.DESCRIPTION')
        textarea(rows='4', ng-model='vm.event.description', required)

      div(flex='50')
        div(rows='4',marked='vm.event.description')

    dates-picker(dates='vm.event.dates')

    venue-selector(venue='vm.event.venue')

    md-input-container
      label(translate='EVENTS.FORM.REGFORM_LINK')
      input(type='url', name="regFormLink", ng-model='vm.event.regFormLink', required)
      // TODO standard translated messages
      div(ng-messages="addEventForm.regFormLink.$error")
        div(ng-message="required") This is required.
        div(ng-message="url") This is not url.

    // TODO Add validations
    orgs-table(selected-chapters='vm.event.chapters', organizers='vm.event.organizers', guarantee='vm.event.guarantee')

    links(links='vm.event.links', context='{{"EVENTS.FORM.EVENT" | translate}}')

    md-button(class="md-fab md-primary md-fab-bottom-right fixed", aria-label='Use Android', type='submit')
      md-icon done

    pre {{ vm.event | json }}
