md-content(layout-padding)
  form(name='addEventForm', ng-submit='addEventForm.$valid && vm.addEvent()', novalidate, layout="column")
    div(layout="row")
      md-input-container(flex)
        label(translate='EVENTS.FORM.NAME')
        input(ng-model='vm.event.name')

      md-input-container(flex)
        label(translate='EVENTS.FORM.SUBTITLE')
        input(ng-model='vm.event.subtitle')

    md-input-container
      label(translate='EVENTS.FORM.DESCRIPTION')
      textarea(rows='4', ng-model='vm.event.description')

    dates-picker

    venue-selector

    md-input-container
      label(translate='EVENTS.FORM.REGFORM_LINK')
      input(ng-model='vm.event.regFormLink')

    chapters-picker(selectedChapters='vm.event.chapters')

    orgs-table.md-whiteframe-3dp

  // TODO Submit, to the right, fix position
  md-button.md-fab.md-primary(aria-label='Use Android', ng-click='vm.addEvent()')
    md-icon(md-svg-src='images/done.svg')

