md-chips(ng-model='vm.selectedChapters', md-on-add="vm.updateOrgsByChapters()" md-on-remove="vm.updateOrgsByChaptersAfterChipRemove()"
md-autocomplete-snap='',md-transform-chip='vm.transformChip($chip)', md-require-match='vm.autocompleteDemoRequireMatch', required)
  md-autocomplete(md-selected-item='vm.selectedItem', md-search-text='vm.searchText',
  md-items='item in vm.querySearch(vm.searchText)', md-item-text='item.name',
  placeholder="{{ 'EVENTS.FORM.CHAPTERS' | translate }}")
    span(md-highlight-text='vm.searchText') {{item.name}}
  md-chip-template
    // TODO maybe add chapter icons
    standard {{$chip.name}}


div(ng-if="vm.loading")
  md-progress-circular(md-mode="indeterminate")
div(ng-if="!vm.loading")
  div(ng-show='!vm.showSearch').md-whiteframe-3dp
    md-toolbar(layout-row='')
      .md-toolbar-tools
        h2
          span(translate='EVENTS.FORM.ORGANIZERS')
        span(flex)
        md-button(ng-click='vm.showSearch = true', aria-label='Search')
          md-icon(icon='search')
    md-content
      md-list
        md-list-item(ng-if='vm.possibleOrgs.length === 0 || vm.selectedChapters.length === 0')
          i(translate='EVENTS.FORM.NO_CHAPTERS')
        md-list-item(ng-repeat='org in vm.possibleOrgs')
          // TODO ng false value - mustn't store to firebase key: false
          md-checkbox(ng-model='vm.organizers[org.$id]', ng-false-value="")
          p {{org.name}}
          md-icon(md-svg-icon='mdi:crown', ng-click='vm.setGuarantee(org)', ng-class='{isGuarantee: vm.isGuarantee(org)}', aria-label='Set as guarantee').md-secondary
  div(ng-show='vm.showSearch')
    md-toolbar.md-hue-1
      .md-toolbar-tools
        md-button(ng-click='vm.showSearch = false', aria-label='Back')
        md-input-container(flex='')
          label  
          input(ng-model='search.who', placeholder='enter search')


