h1(translate="") DASHBOARD.TITLE

p(translate='DASHBOARD.DESCRIPTION')





div(layout='row', layout-padding='', layout-wrap='', layout-fill='', style='padding-bottom: 32px;', ng-cloak='')

  md-list(flex='70').my-events
    md-list-item.md-2-line(ng-repeat='event in $ctrl.events',ng-class="event.state")
      .md-list-item-text()
        h3 {{event.title}}
        p {{event.start | date}}
        md-icon.md-secondary.md-hue-3.report(md-font-icon='icon-report') Report
        md-icon.md-secondary.edit(md-font-icon='icon-edit') Edit


  md-whiteframe.md-whiteframe-1dp(flex='30', layout='', layout-align='center center')
    span .md-whiteframe-1dp



