mixin progress-bar
  div(ng-if="!vm.chapterEvents.$resolved")
    md-progress-linear(md-mode="indeterminate")

mixin event-info
  .md-list-item-text(flex=30)
    h3.md-title {{event.name}}
  .md-list-item-text(flex=30)
    h4 {{event.dates.start | date:'dd.MM.yyyy v HH:mm'}}
    p {{event.venue.name}}


md-content()
  section
    md-subheader Neuveřejněné akce
    +progress-bar
    md-list(layout-padding='')
      md-list-item(ng-if='vm.chapterEvents.filter(vm.draftFilter).length == 0 && vm.chapterEvents.$resolved')
        p Nemáte žádné nevuveřejněné akce
      div(ng-repeat='event in vm.chapterEvents.filter(vm.draftFilter) | orderBy: vm.dateOrder')
        md-list-item
          +event-info
          md-icon(md-svg-src='mdi:pencil', ng-click='vm.editEvent(event)', aria-label='Edit event').md-secondary
          md-icon(md-svg-src='mdi:publish', ng-click='vm.publishEvent(event, $index)', aria-label='Publish event').md-secondary
          md-icon(md-svg-src='mdi:delete', ng-click='vm.deleteEvent(event, vm.events.drafts, $index)', aria-label='Edit event').md-secondary



  section
    md-subheader.md-primary Budoucí akce
    +progress-bar
    md-list(layout-padding='')
      md-list-item(ng-if='vm.chapterEvents.filter(vm.futureFilter).length == 0 && vm.chapterEvents.$resolved')
        p Nemáte žádné budoucí akce
      div(ng-repeat='event in vm.chapterEvents.filter(vm.futureFilter) | orderBy: vm.dateOrder')
        md-list-item
          +event-info
          md-icon(md-svg-src='mdi:pencil', ng-click='vm.editEvent(event)', aria-label='Edit event').md-secondary
          md-icon(md-svg-src='mdi:download', ng-click='vm.hideEvent(event)', aria-label='Hide event').md-secondary
          md-icon(md-svg-src='mdi:delete', ng-click='vm.deleteEvent(event, vm.events.future, $index)', aria-label='Edit event').md-secondary



  section
    md-subheader.md-warn Proběhlé akce k reportování
    +progress-bar
    md-list(layout-padding='')
      md-list-item(ng-if='vm.chapterEvents.filter(vm.unreportedFilter).length == 0 && vm.chapterEvents.$resolved')
        p Nemáte žádné nereportované akce
      div(ng-repeat='event in vm.chapterEvents.filter(vm.unreportedFilter) | orderBy: vm.dateOrder')
        md-list-item
          +event-info
          md-icon(md-svg-src='mdi:message', ng-click='vm.reportEvent($event, event.$id)', aria-label='Report event').md-secondary

      // Blank spaces for FAB
      md-list-item
      md-list-item





md-fab-speed-dial(md-open='vm.isFabOpen', md-direction='up', class="md-fab-bottom-right fixed md-hover-full md-scale")
  md-fab-trigger
    md-button.md-fab.md-primary(aria-label='menu')
      md-icon add

  md-fab-actions()
    a(ui-sref="events.add")
      md-button.md-fab.md-raised.md-mini(aria-label='Add event')
        md-tooltip(md-direction="left", md-visible="tooltipVisible", md-autohide="false") Add event
        md-icon(md-svg-src='mdi:plus')

    md-button.md-fab.md-raised.md-mini(aria-label='Add term')
      md-tooltip(md-direction="left", md-visible="tooltipVisible", md-autohide="false") Add term
      md-icon(md-svg-src='mdi:calendar-plus')
