md-content()
  section
    md-subheader Neuveřejněné akce
    md-list(layout-padding='')
      div(ng-repeat='eventDraft in vm.events.drafts')
        md-list-item
          .md-list-item-text(flex=30)
            h3.md-title {{eventDraft.name}}
          .md-list-item-text(flex=30)
            h4 {{eventDraft.dates.start | date:'dd.MM.yyyy v HH:mm'}}
            p {{eventDraft.venue.name}}
          md-icon(md-svg-src='mdi:pencil', ng-click='vm.editEvent(eventDraft)', aria-label='Edit event').md-secondary
          md-icon(md-svg-src='mdi:publish', ng-click='vm.publishEvent(eventDraft, $index)', aria-label='Publish event').md-secondary
          md-icon(md-svg-src='mdi:delete', ng-click='vm.deleteEvent(eventDraft, vm.events.drafts, $index)', aria-label='Edit event').md-secondary
  section
    md-subheader.md-primary Budoucí akce
    md-list(layout-padding='')
      div(ng-repeat='futureEvent in vm.events.future')
        md-list-item
          .md-list-item-text(flex=30)
            h3.md-title {{futureEvent.name}}
          .md-list-item-text(flex=30)
            h4 {{futureEvent.dates.start | date:'dd.MM.yyyy v HH:mm'}}
            p {{futureEvent.venue.name}}
          md-icon(md-svg-src='mdi:pencil', ng-click='vm.editEvent(futureEvent)', aria-label='Edit event').md-secondary
          md-icon(md-svg-src='mdi:download', ng-click='vm.hideEvent(futureEvent)', aria-label='Hide event').md-secondary
          md-icon(md-svg-src='mdi:delete', ng-click='vm.deleteEvent(futureEvent, vm.events.future, $index)', aria-label='Edit event').md-secondary
  section
    md-subheader.md-warn Proběhlé akce k reportování
    md-list(layout-padding='')
      div(ng-repeat='unreportedEvent in vm.events.unreported')
        md-list-item
          .md-list-item-text(flex=30)
            h3.md-title {{unreportedEvent.name}}
          .md-list-item-text(flex=30)
            h4 {{unreportedEvent.dates.start | date:'dd.MM.yyyy v HH:mm'}}
            p {{unreportedEvent.venue.name}}
          md-icon(md-svg-src='mdi:message', ng-click='vm.reportEvent(unreportedEvent)', aria-label='Report event').md-secondary

md-fab-speed-dial(md-open='vm.isFabOpen', md-direction='up', class="md-fab-bottom-right fixed md-hover-full md-scale")
  md-fab-trigger
    md-button.md-fab.md-primary(aria-label='menu')
      md-icon add

  md-fab-actions()
    a(ui-sref="events.add")
      md-button.md-fab.md-raised.md-mini(aria-label='Add event')
        md-tooltip(md-direction="left", md-visible="tooltipVisible", md-autohide="false") Add event
        md-icon(md-svg-src='mdi:plus')

    md-button.md-fab.md-raised.md-mini(aria-label='Add term')
      md-tooltip(md-direction="left", md-visible="tooltipVisible", md-autohide="false") Add term
      md-icon(md-svg-src='mdi:calendar-plus')
