h1 Dashboard

div(layout='row', layout-padding='', layout-wrap='', layout-fill='', style='padding-bottom: 32px;', ng-cloak='')
  md-whiteframe.md-whiteframe-1dp(flex='25', layout='', layout-align='center center')
    span .md-whiteframe-1dp
  md-whiteframe.md-whiteframe-2dp(flex='25', layout='', layout-align='center center')
    span .md-whiteframe-2dp
  md-whiteframe.md-whiteframe-3dp(flex='25', layout='', layout-align='center center')
    span .md-whiteframe-3dp
  md-whiteframe.md-whiteframe-4dp(flex='25', layout='', layout-align='center center')
    span .md-whiteframe-4dp