div(layout='row')
  div(flex)
    md-select(ng-model='vm.selectedVenue', placeholder="{{ 'EVENTS.FORM.SELECT_VENUE' | translate}}")
      md-optgroup(label="Venues")
        md-option(ng-value='venue', ng-repeat='venue in vm.venues')
            div
              b {{venue.name}}
              span ,&nbsp;{{venue.address}}

  div(flex)
    md-button(ng-click="vm.editVenue()", ng-if="vm.selectedVenue")
      span(translate="EVENTS.FORM.EDIT_VENUE")

    md-button(ng-click="vm.addVenue()")
      span(translate="EVENTS.FORM.ADD_VENUE")
