div(layout='row')
    md-input-container(flex='80')
        label(translate='EVENTS.FORM.DESCRIPTION')
        textarea(rows='4', ng-model='vm.data', max-rows='20')

    div(layout='column', flex='20')
        md-button(ng-click='vm.showDescription($event, vm.data)').md-raised {{ 'EVENTS.FORM.DESCRIPTION_PREVIEW' | translate}}
        md-button(ng-href="https://cs.wikipedia.org/wiki/Markdown", target="_blank").md-raised Markdown Docs