html(ng-app='gugCZ.webAdmin', lang='en')
  head
    meta(charset='utf-8')
    title GUG CZ - Administrace
    link(rel='stylesheet', href='css/app.css')
    link(rel='stylesheet', href="https://fonts.googleapis.com/icon?family=Material+Icons")

    meta(name='viewport', content='initial-scale=1')

  body
  #page(layout='column', ui-view='')

    script(type='text/javascript', src='vendor.js')
    script(type='text/javascript', src='scripts.js')
